.form {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border: none;
  border: 2px solid #D3D3D3;
  padding: 1rem;
  width: 85%;
  height: 3rem;
  font-size: 0.8em;
  border-radius: 3px;
  display: flex;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #CCCCCC;
  border-radius: 3px;
  display: inline-block;
  border: none;
  margin-left: 0.5rem;
  width: 7rem;
  height: 3rem;
}

.input:not(:placeholder-shown) + .sendButton {
  background-color: #5467f5;
  color: white; 
  cursor: pointer;
}