.Container {
  max-width: 60rem;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgba(165, 165, 165, 0.75);
}

::-webkit-scrollbar {
  display: none;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 6.75rem auto 2rem;
  width: 80%;
  height: auto;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10.2rem;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
}

.author {
  margin-top: 1rem;
  font-size: 0.825rem;
}

.img {
  height: 100%;
  width: 8rem;
  border: 1px solid #000;
  background-color: #fff;
}

.alignContainers {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.PlotSummaryContainer {
  width: 100%;
  height: 15rem;
}

.PlotSummaryContainer:last-child {
  height: 8rem;
}

.PlotSummary {
  margin-left: 1rem;
  font-size: 0.9rem;
  color: #808080;
  transition: color 0.2s ease;
}

.pTextarea {
  margin-top: 0.7rem;
  width: 100%;
  height: 100%;
  resize: none;
  border-radius: 7px;
  padding: 1.2rem;
  border: 1px solid #808080;
}

.pTextarea:focus {
  outline-color: #5467f5;
}

.ButtonContainer {
  align-self: flex-end;
  display: flex;
  gap: 0.625rem;
  height: auto;
  margin-top: 1rem;
  transition: all .1s ease;
}

.Button,
.Button2 {
  width: 6rem;
  height: 2.5rem;
  border-radius: 3px;
  cursor: pointer;
  transition: all .1s ease;
}

.Button {
  border: 1px solid #5467f5;
  background-color: #fff;
  color: #5467f5;
}

.Button:hover {
  background-color: #eee;
}

.Button2 {
  background-color: #5467f5;
  border: none;
  color: #fff;
}

.Button2:hover {
  background-color: #4457e5;
}