.align {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 60%);
}

.container {
  padding: 3.25rem 3.0625rem 3.75rem;
  width: 28rem;
  height: auto;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 3.25rem;
  font-size: 2rem;
  font-weight: 700;
  color: #5467f5;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
  width: 100%;
}

.input>input {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 2.875rem;
  padding: 0 1rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.input>input::placeholder {
  font-size: 0.8rem;
}

.saveInfo {
  align-self: baseline;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-left: 0.5rem;
  cursor: pointer;
  margin-bottom: 0.75rem;
}

.saveInfo>svg {
  font-size: 1rem;
  color: #c0c0c0;
}

.activeIcon {
  color: #5467f5 !important;
}

.saveInfo>span {
  font-size: 0.75rem;
  color: #333;
  padding-bottom: 0.0625rem;
}

.loginBtn {
  margin-bottom: 0.75rem;
  width: 100%;
  height: 2.75rem;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #5467f5;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all .1s ease;
}

.loginBtn:hover {
  background-color: #4457e5;
}

.util {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  width: 100%;
  color: #808080;
  font-size: 0.75rem;
}

.util span {
  cursor: pointer;
}

.util span:hover {
  color: #5467f5;
}

.find {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.find>div {
  cursor: default;
}

.contour {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1.25rem;
}

.contour>div {
  width: 40%;
  border-top: 1px solid #ccc;
}

.contour>span {
  color: #ccc;
  font-size: 0.8rem;
}

.socialLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
}

.socialLogin>button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 2.75rem;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  color: #555;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all .1s ease;
}

.socialLogin>button>span {
  width: 100%;
  text-align: center
}

.socialLogin>button>img {
  position: absolute;
  margin-left: 0.5rem;
  width: 1.875rem;
}

.kakao {
  border: 1px solid #F9E000;
}

.kakao:hover {
  background-color: #F9E000;
}

.naver {
  border: 1px solid #2DB400;
}

.naver:hover {
  background-color: #2DB400;
  color: #fff;
}