.ListContainer {
  width: 100%;
  max-width: 53rem;
  height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgba(165, 165, 165, 0.75);
}

.ItemContainer {
  width: 40rem;
  height: 15.4375rem;
  margin: 0 auto;
  margin-top: 6.5rem;
  display: flex;
}

.image{
  width: 10rem;
  height: 90%;
  border: solid 1px black;
}

.tag{
  font-size: 12px;
  width: 2.3rem;
  height: 1.3rem;
  border-radius: 10px;
  margin-left: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.title{
  margin-left: 1.7rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem; 
  font-weight: bolder;
  font-size: 1.2rem;
}

.DetailsContainer{
  display: flex;
  width: 30rem;
  height: 75%;
}

.Details{
  margin-left: 1.5rem;
  padding: 0.2rem;
  font-size: 0.8rem;
  width: 5rem;
  font-weight: 600;
  font-family: 'Noto Sans KR';
  font-style: normal;
  letter-spacing: -0.02em;
  color: #333333;
}

.Details1{
  padding: 0.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #808080;
  font-family: 'Noto Sans KR';
  font-style: normal;
  letter-spacing: -0.02em;
}

.DetailsContainer1{
  width: 10rem;
  height: 100%;
}

.line{
  width: 40rem;
  height: 0;
  border-bottom: #C0C0C0 1px solid;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.chatButton{
  width: 40rem;
  height: 3rem;
  border: #5467F5 1px solid;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.chatButton:hover{
  background-color: #5467F5;
}

.chatButton:hover .buttonText {
  color: white;
}
  
.chatButton:hover .buttonicon {
  color: white;
}

.buttonText{
  color: #5467F5;
  margin-right: 0.5rem;
  font-weight: 500;
}

.buttonicon{
  display: flex;
  justify-content: center;
  color: #5467F5;
}

.ReportContainer{
  width: 40rem;
  height: auto;
  margin: 0 auto;
  margin-top: 2rem;
  overflow: hidden;
}

.Report{
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #C0C0C0 1px solid;
}

.Num{
  margin-left: 0.5rem;
  font-size: 18px;
  font-weight: 500;
}

.Write{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3.125rem;
  border-radius: 7px;
  margin-right: 0.3rem;
}

.Write:hover{
  background-color: #DFE3FF;
  color: #5467F5;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.WriteContainer{
  display: flex;
}

.ReportIcon{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.1rem;
  margin-left: 0.2rem;
}

.ReviewContainer{
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}

.flexContainer{
  display: flex;
  justify-content: space-between;
}

.WriterContainer{
  width: 100%;
  height: 11rem;
  border-bottom: #C0C0C0 1px solid;
}

.WriterContainer:hover{
  background-color: #efefef;
}

.ReportWriter{
  margin-left: 1.8rem;
  margin-top: 1.8rem;
}

.likesContainer{
  margin-right: 1.8rem;
  margin-top: 1.8rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.ReportDescription{
  width: 36.4rem;
  margin: 0 auto;
  font-size: 13px;
  margin-top: 1.8rem;
}

.likesicon1{
  color: #5467F5;
  margin-right: 0.6rem;
}

.likesicon{
  color: #5467F5;
  margin-right: 0.1rem;
}

.inputText{
  width: 11rem;
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: 3px;
  border: solid #C0C0C0 1px;
  transition: outline-color 0.25s ease;
}

.inputText:focus{
  outline-color: #5467f5;
}

.searchButton{
  width: 5rem;
  height: 2.5rem;
  margin-left: 0.3rem;
  border-radius: 3px;
  background-color: rgb(205, 205, 205);
  color: white;
  border: none;
  cursor: pointer;
}

.inputText:not(:placeholder-shown) + .searchButton {
  background-color: #5467f5;
  color: white; 
  cursor: pointer;
}