.align {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 60%);
}

.container {
  width: 28rem;
  height: auto;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
}

.scrollBox {
  width: 100%;
  height: 35rem;
  overflow-y: scroll;
}

.scrollBox::-webkit-scrollbar {
  display: none;
}

.inner {
  margin: 3.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 3.25rem;
  font-size: 1.85rem;
  font-weight: 700;
  color: #5467f5;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.input input {
  font-family: "Inter", sans-serif;
}

.input input::placeholder {
  font-size: 0.8rem;
}

.input>input,
.password {
  width: 100%;
  padding: 0 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.input>input {
  height: 2.875rem;
  outline: none;
}

.password {
  display: flex;
  flex-direction: column;
  height: 5.75rem;
}

.password>div {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 50%;
}

.password>div:first-child {
  border-bottom: 1px solid #ccc;
}

.password>div>input {
  width: 100%;
  outline: none;
  border: none;
}

.vaildCheckContainer {
  width: 100%;
  margin-bottom: 1.25rem;
}

.validCheck {
  align-self: baseline;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-left: 0.5rem;
  margin-bottom: 0.75rem;
}

.validCheck>svg {
  font-size: 1rem;
  color: #c0c0c0;
}

.activeIcon {
  color: #5467f5 !important;
}

.validCheck>span {
  font-size: 0.75rem;
  color: #333;
  padding-bottom: 0.0625rem;
}

.signUpBtn {
  margin-bottom: 0.75rem;
  width: 100%;
  height: 2.75rem;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #5467f5;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all .1s ease;
}

.signUpBtn:disabled {
  background-color: #808080;
  pointer-events: none;
}

.signUpBtn:hover {
  background-color: #4457e5;
}