.container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 3.75rem;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.inner {
  display: flex;
  align-items: center;
  padding: 0 2%;
  gap: 4%;
  width: 100%;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo>a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo>a>img {
  scale: 0.8
}

.menu {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 3%;
  height: 100%;
}

.menu>a {
  height: 100%;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.menu>a:hover {
  color: #5467f5;
}

.active {
  color: #5467f5 !important;
  border-bottom: 2px solid #5467f5;
  font-weight: 500;
}

.util {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 4%;
}

.signup,
.login {
  width: 5.5rem;
  height: 2.25rem;
  border-radius: 32px;
  border: 1px solid #c0c0c0;
  font-size: 0.725rem;
  cursor: pointer;
  transition: all .15s ease;
}

.signup:disabled,
.login:disabled {
  display: none;
}

.signup {
  background-color: #fff;
}

.login {
  background-color: #5467f5;
  color: #fff;
}

.signup:hover {
  background-color: #eee;
}

.login:hover {
  background-color: #4457e5;
}

.userInfo {
  display: flex;
  align-items: center;
  height: 100%;
}

.alarm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.alarm>svg {
  font-size: 1.5rem;
  color: #b0b0b0;
}

.profile {
  margin-left: 1.25rem;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 9999px;
  cursor: pointer;
}

.profile>img {
  height: 2.25rem;
  width: 2.25rem;
}

.dropdownMenu {
  position: absolute;
  top: 95%;
  right: 2%;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  z-index: 1;
}

.dropdownMenu>button {
  width: 100%;
  padding: 0.75rem 0 0.75rem 0.75rem;
  border: none;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  text-align: left;
}

.dropdownMenu>button:hover {
  background-color: #efefef;
}

.dropdownMenu>button:nth-child(2) {
  color: #d1180b;
}